body {
    font-family: Sans-Serif;
    text-align:center;
    margin: 10px;
}

h1 {
    margin-top:40px;
}
label {
  display: inline-block;
  width: 250px;
  text-align: right;
}

table {
    border-collapse: collapse;
}

table td,
table th {
    border: 1px solid lightgrey;
    padding: 5px;
}

table th {
    border-bottom: 1px solid grey;
}

.ok {
    color: green;
}

.ko {
    color: red;
}

.mainWrapper {
    display: grid;
    grid-template-columns: 310px 1fr;
    align-items: start;
}

.wrapper {
    text-align: left;
}

#logo {
    position: fixed !important;
    top: 10px;
    left: 10px;
    right: 0;
}

#issue_patron_barcode {
    margin-bottom: 10px;
}
#checkoutCheckin-div {
    display: inline-flex;
}
#checkout-div, #checkin-div {
    padding: 10px;
    margin: 10px;
    align-self: left;
    justify-self: left;
    text-align:right;
}

#checkout-div {
    margin-right: 50px;
}
#leftColumn {
    text-align:left;
}
